@{
    ViewBag.Title = "Success";
}
<div class="alert alert-success">
    <strong>Success!</strong> The Registration was successful. Welcome To FutureKart. Please Login.
</div>
<p>@Html.ActionLink("Login", "Login", "Login")</p>

