@model FutureKart.View_Models.CartMessagesViewModel
    @{ 
        ViewBag.Title = "Add Item";
    }
<div class="row">
    @if(Model.SuccessMessage != null)
    {
        <div class="col-md-6 col-md-offset-3">
            <p>@Model.SuccessMessage</p>
        </div>
    }
    else
    {
        <div class="col-md-6 col-md-offset-3">
            <ul>
                @foreach(var errorMessage in Model.ErrorMessages)
                {
                    <li><p>@errorMessage</p></li>
                }
            </ul>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Back to Previous page",null,null,null,new { href = Request.UrlReferrer,@class = "btn btn-default"})
</p>