@model FutureKart.View_Models.OrdersViewModel
@{
    ViewBag.Title = "MyOrders";
}

<h2>My Orders</h2>
<br />

<div class="row">
    @if (Model.Orders.Count() != 0)
    {
        foreach (var order in Model.Orders)
        {
            <div class="col-md-7">
                <a href="@Url.Action("GetOrder", "Order", new { OrderID = order.ID })"><h4>@order.OrderDate.ToString("dd/MM/yyyy")</h4></a>
                <p><b>Total : </b>$@order.TotalAmount</p>
                <p><b>Status : </b>@order.Status</p>
                <hr />
            </div>
        }
    }
    else
    {
        <h2>You have not placed any orders so far.</h2>
    }
</div>


