
@{
    ViewBag.Title = "Success";
}

<div class="colorlib-product">
    <div class="container">
     
            <div class="col-md-6 offset-3 alert alert-success"><h3>Your Order has been Successfully placed.</h3></div>

    </div>
</div>

